<section  class="deal-type-outer  context-outer">
  <div class="context-inner" >
    <div class="type-header">
      <h2>User Management</h2>
      <hr>
    </div>
    <div class="buttons-outer" >
      <button mat-flat-button routerLink="/console/playground/general-activities/activities/user/manage-user" routerLinkActive="active-route">
       Users
      </button>

      <button mat-flat-button routerLink="/console/playground/general-activities/activities/user/manage-user-access" routerLinkActive="active-route">
       User Access
       </button>

      <hr>
    </div>
    <router-outlet></router-outlet>
  </div>
</section>


