<div id="{{ categoryTitle | lowercase }}" class="heading">
  <h1>{{ categoryTitle }}</h1>

</div>
<div class="description">
  <p> {{ categoryDescription }}</p>
</div>

<div class="row">
  <div class="col-12 col-xl-3 col-md-4 col-sm-6 book-card-outer" *ngFor="let book of books">

    <div class="book-card-inner">
      <div class="book-cover-image-outer">
        <img [src]="book.bookPreviewImage" alt="book cover image">
      </div>
      <div class="book-details-outer">
        <div class="row">
          <h2 class="book-title">{{ book.bookName }}</h2>
        </div>
        <div class="row book-data">
          <div class="col-6">
            <p class="book-number">ID : {{ book.bookId }}</p>
            <p class="pages">Pages : {{ book.pages }}</p>
          </div>
          <div class="col-6">
            <div class="view-button-outer">
              <div class="view-button-inner" [attr.type]="'button'" (click)="viewBook(book.bookResource, book.paid)">
                View Book
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

