<div class="about-us-wrapper" id="#top">
  <div class="container">
    <div class="col-profile">
      <div class="profile-image">
        <img src="https://firebasestorage.googleapis.com/v0/b/anyideainenglish-app.appspot.com/o/appResources%2Fprofile.jpg?alt=media&token=92a96222-9065-4f30-be84-446d9bafcab9" alt="profile-image">


        <p class="bold profil-name" >Rasika Jeewantha <br>  <span class="owner">Owner </span> </p>


      </div>
    </div>
    <div class="col-description">
      <p class="bold"> Message from the  Editor,  <br> </p>

       <p>
        We feel a great pleasure to bring you this series of Grammar and Spoken English publications for
        the benefit of all the school children and the school leavers who are so much dedicated in learning English.
        As far as we know, one of the greatest issues that they come across is the non - availability of English books
        or any other publications which consist of a regular schedule for grammar lessons. In order to avoid this issue,
        we have presented our series of grammar lessons in a regular way the so that the students can understand
        them very easily.
      </p>

      <p>  One of the other greatest issues that we have understood in learning English is the non - availability of
        English books or any other publications which consist of necessary  Sinhala clarifications. In order to mitigate
        this issue, we have arranged each and every lesson of these publications with necessary Sinhala clarifications.
         We hope that you will get the maximum use of these publications. We wish you all the best. </p>

        <p>
          Mr Rasika Jeewantha Wijerathne <br>
          Editor, Any Idea in English Educational  Publications
        </p>




    </div>
  </div>


</div>


<!--testimonial-section-->
<div class="section-dev">
  <!-- section divider -->
  <div class="custom-footer-divider-top">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path
        d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
        class="shape-fill"></path>
    </svg>
  </div>
  <!-- section divider -->
</div>
