<div class="overlay" *ngIf="isLoading">
  <!-- <mat-progress-spinner diameter="60" mode="indeterminate"   ></mat-progress-spinner> -->
  <div class="home-loading-outer">
    <div class="home-loading-inner">
      <div class="logo-wrapper">
        <img src="https://firebasestorage.googleapis.com/v0/b/anyideainenglish-app.appspot.com/o/appResources%2Flogo-large-image.png?alt=media&token=d84129e5-4cfd-4856-8cb9-d9470d342822" alt="logo">
        <h2>Loading . . .</h2>
      </div>
    </div>
  </div>


</div>
