<app-loading-spinner> </app-loading-spinner>
<div class="outer " >
  <div class="inner">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 col-md-6 left align-items-center justify-content-center d-flex">
          <img
            class="left-image"
            src="https://firebasestorage.googleapis.com/v0/b/anyideainenglish-app.appspot.com/o/appResources%2Fregister-image.jpg?alt=media&token=0d6724ce-2b5e-4e8e-9020-e97719bc6aee"
            alt="RegisterImage">
        </div>
        <div class="col-12 col-lg-4 col-md-6 right align-items-center justify-content-center d-flex">
          <form [formGroup]="registerForm" (ngSubmit)="register()" class="w-100">
            <div class="row">
              <div class="col-12">
                <h1 class="fs-1 fw-bolder title mt-5">Register</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <h6 class="fw-bold sub-title">Enter Your Details to Register</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" id="email" required>
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
              </div>
              <span
                *ngIf="getEmail().invalid && (getEmail().dirty || getEmail().touched)"
                class="text-danger"
              >
                <p *ngIf="getEmail().errors?.['required']">Email is required.</p>
                <p *ngIf="getEmail().errors?.['email']">Wrong Email Address Type</p>
              </span>
            </div>
            <div class="row">
              <div class="col-12">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Full Name</mat-label>
                  <input matInput formControlName="fullName" id="fullName" required>
                  <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
              </div>
              <span
                *ngIf="getFullName().invalid && (getFullName().dirty || getFullName().touched)"
                class="text-danger"
              >
                <p *ngIf="getFullName().errors?.['required']">Name is required.</p>
              </span>
            </div>
            <div class="row">
              <div class="col-12">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Mobile</mat-label>
                  <input matInput formControlName="phone" type="text" inputmode="numeric" pattern="[0-9]*" id="phone" required>
                  <mat-icon matSuffix>phone</mat-icon>
                </mat-form-field>
              </div>
              <span
                *ngIf="getPhone().invalid && (getPhone().dirty || getPhone().touched)"
                class="text-danger"
              >
                <p *ngIf="getPhone().errors?.['required']">Mobile is required.</p>
              </span>
            </div>
            <div class="row">
              <div class="col-12">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput formControlName="password" id="password" required>
                  <mat-icon matSuffix>password</mat-icon>
                </mat-form-field>
              </div>
              <div
                *ngIf="getPassword().invalid && (getPassword().dirty || getPassword().touched)"
                class="text-danger"
              >
                <div *ngIf="getPassword().errors?.['required']">Password is required.</div>
                <div *ngIf="getPassword().errors?.['minlength']">
                  Password must be at least 6 characters long.
                </div>
              </div>
            </div>
            <div class="py-2"></div>
            <div class="row">
              <div class="col-12">
                <button
                  mat-raised-button
                  class="w-100 register-btn"
                  [disabled]="registerForm.invalid"
                  type="submit"
                >Register</button>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <button mat-button class="text-dark my-2" disabled>Already Have An Account?</button>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <button mat-raised-button  class="w-100 mb-3 login-btn" routerLink="/security/login">Login</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

