
<script src="home-page-main-slider.component.ts"></script>
<div class="main-slider-wrapper" id="#top" >
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let slide of landingSlidesStore">
      <ng-template carouselSlide>
        <div class="landing-image-outer" >
          <div  class="landing-image-inner" [style.background-image]="'linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(' + slide.imageLink + ')'">
            <div  class="container">
              <div class="row items">
                <div class="column-1 left-items">

                  <h1 class="title ">{{slide.titleText}}</h1>
                  <h3 class="sub-title">{{slide.subTitleText}}</h3>
                  <button (click)="scrollToSection(slide.buttonLink)" class="btn">{{slide.buttonText}}</button>
                </div>
                <div class="column-2  right-items">
                  <h1>{{slide.countProject}} </h1>
                  <h3>{{slide.bottomText1}}</h3>
                  <h3>{{slide.bottomText2}}</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-12" >
                  <a href="https://api.whatsapp.com/send/?phone=94783703815&text=Send+me+details&type=phone_number&app_absent=0">
                    <div class="whatsapp-btn" >
                      <img src="https://www.freepnglogos.com/uploads/whatsapp-circle-message-messaging-messenger-round-icon--24.png" alt="WhatsApp Icon">
                    </div>
                  </a>

                </div>
              </div>

            </div>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>

   <!-- section divider -->
 <div class="custom-shape-divider-bottom">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
      preserveAspectRatio="none">
      <!-- <path d="M598.97 114.72L0 0 0 120 1200 120 1200 0 598.97 114.72z" class="shape-fill"></path> -->
      <!-- <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path> -->
      <!-- <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path> -->
      <!-- <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path> -->
      <!-- <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path> -->
      <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
</div>
<!-- section divider -->
</div>
