
@import 'src/app/modules/share/styles/_colors.scss';

.context-outer{
  max-width:100vw;
  height: auto;

  .context-inner {
    border-radius: 5px;
    background-color: $card-bg-color;
    padding:10px;
    margin: 0;
    box-shadow:$context-box-shadow;
    -webkit-box-shadow: $context-box-shadow;
    -moz-box-shadow: $context-box-shadow;
    margin-top: 5px;

    .type-header {
      h2 {
        font-weight: 500;
        color: $header-color;
      }
    }
    .buttons-outer {
      overflow-x: auto;
      display: flex;
      height: 60px;
      button {
        min-width: 150px!important;
        width: auto;
        border-radius: 100px;
        border: 1px solid $primary-btn-color;
        color: $primary-btn-color;
        margin-right: 10px;
        height: 40px;
        // padding: 0px 15px !important;
        // padding-right: 50px;
        padding: 0px 15px ;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;


      }
    }


  .books-preview-outer{
    height: 370px;
    height: auto;
    border: 1px solid #b2bec3;
    border-radius: 5px;
  }
  }
}
.active-route {
  background: $primary-btn-color!important;
  color:$active-route-color  !important;
}


@media (min-width:1400px) {

  .context-outer{

    .context-inner {


      .type-header {
        h2 {

        }
      }
      .buttons-outer {

        button {

        }
      }


    .books-preview-outer{
      height: 700px;
      height: auto;
      border: 1px solid #b2bec3;
      border-radius: 5px;

    }
    }
  }

}



