$resend-btn: #16a085;
$register-btn: #1abc9c;
$btn-font-color: #FFFFFF;

h1{
  line-height: 1;
}


.outer{
  width: 100%;
  height: 100vh;
  .inner{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .left-image{
      width: 80%;
    }

    .right{
      .title{letter-spacing: 5px}
      .sub-title{letter-spacing: 3px}
    }
  }
}

.resend-btn{
  background: $resend-btn!important;
  color: $btn-font-color!important;
}
.bxl-google{
  font-size: 40px;
}
