<app-loading-spinner></app-loading-spinner>

<div class="row books-table">
  <div class=" grammer">
    <h3>Grammer Books</h3>
    <h5>Grammar Book 1  - <span class="sub">FREE-543</span></h5>
    <h5>Grammar Book 2  - <span class="sub">GRAM-133</span> </h5>
    <h5>Grammar Book 3  - <span class="sub">GRAM-923</span></h5>
    <h5>Grammar Book 4  - <span class="sub">GRAM-304</span> </h5>

  </div>
  <hr class="col-12  d-md-none">
  <div class=" dialogs">
    <h3>Dialog Books</h3>
    <h5>Dialog Book 1  - <span class="sub">DLOG-048</span></h5>
    <h5>Dialog Book 2  - <span class="sub">DLOG-747</span> </h5>
    <h5>Dialog Book 3  - <span class="sub">DLOG-172</span></h5>

  </div>
  <hr class="col-12 d-md-none">
  <div class=" patterns">
    <h3>Patterns Books</h3>
    <h5>Sentence Book 1  - <span class="sub">SENT-393</span></h5>
    <h5>Sentence Book 2  - <span class="sub">SENT-540</span> </h5>
    <h5>Sentence Book 3  - <span class="sub">SENT-785</span></h5>

  </div>
  <hr class="col-12 d-md-none">
</div>
<hr>

<div class="outer">
  <div class="inner">
    <div class="container">
      <div class="row">
        <div class="col-12 mt-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Search Users By Email</mat-label>
            <input matInput [(ngModel)]="userEmail" (keyup)="loadData()" placeholder="Type The Book Name Here">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-table">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No.</th>
              <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> User Email</th>
              <td mat-cell *matCellDef="let element"> {{ element.userId }}</td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="book">
              <th mat-header-cell *matHeaderCellDef> Book Id</th>
              <td mat-cell *matCellDef="let element"> {{ element.bookId }}</td>
            </ng-container>

            <ng-container matColumnDef="access">
              <th mat-header-cell *matHeaderCellDef> Access Type</th>
              <td mat-cell *matCellDef="let element"> {{ element.accessType }}</td>
            </ng-container>

            <ng-container matColumnDef="option">
              <th mat-header-cell *matHeaderCellDef> Manage Access</th>
              <td mat-cell *matCellDef="let element; let i = index">
                <form [formGroup]="formArray[i]">
                  <mat-slide-toggle formControlName="sliderToggle3" matTooltip="Toggle Left To Remove Access" color="primary" (change)="removeAccess(element.id)"></mat-slide-toggle>
                </form>
              </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

        </div>
        <div class="col-12">
          <mat-divider></mat-divider>
          <mat-paginator [length]="totalSubscriberUsers"
                         [pageSize]="pageSize"
                         [pageSizeOptions]="pageSizeOptions"
                         (page)="onPageChange($event)"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
