/* You can add global styles to this file, and also import other style files */

@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // background-color: white;
}

html, body {
   height: 100%;

}
body {
  margin: 0;
  font-family: Roboto,
  "Helvetica Neue",sans-serif;
}

.bold{
  font-weight: bold;
  background-color: white;
}

.context-admin{
  max-width: 100vw;
  min-height: 300px;
  height: auto;
  padding-left:96px;
  padding-right: 10px;
  transition: all 0.2s ease;
}
.adjust-context-admin{
  padding-left:280px;
  transition: all 0.2s ease;
}
.books{
  padding: 10px;
  margin-top: -90px;
}


@media (min-width:1400px){
  .books{
    padding: 40px;
    margin-top: -140px;
  }

  .book-margin{

    margin-top: 150px;

  }


}




@media screen and (max-width: 800px) {
  .context-admin{
    padding-left: 10px;
  }
}

