<section  class="deal-type-outer  context-outer">
  <div class="context-inner" >
    <div class="type-header">
      <h2>Book Management</h2>
      <hr>
    </div>
    <div class="buttons-outer" >
      <button mat-flat-button routerLink="/console/playground/general-activities/activities/books/manage-books" routerLinkActive="active-route">
       Books
      </button>

      <!-- <button mat-flat-button routerLink="/console/playground/general-activities/activities/books/manage-books-category" routerLinkActive="active-route">
        Book Categories
       </button> -->

      <hr>
    </div>
    <router-outlet></router-outlet>
  </div>
</section>
